<!DOCTYPE html>
<html ng-app="x-admin">
<head>
    <meta charset="UTF-8">
    <title>X管理系统</title>
    <link rel="stylesheet" href="stylesheets/ad.css">
</head>
<body>
<div class="x-view-full" ng-controller="x-controller">
    <div class="x-project-header">
        <div id="x-project-title">X管理后台</div>
        <div id="x-login-user"><a href="/user/tttt">{{currentUser}}</a>&nbsp;<a href="/logout">退出</a></div>
    </div>
    <div class="x-sidemenu">
        <div class="x-sidemenu-one" ng-repeat="menu in menus" ng-show="menu.enabled">
            <p class="sidemenu-one">{{menu.text}}</p>
            <div class="x-sidemenu-two" ng-repeat="subMenu in menu.subMenus" ng-show="subMenu.enabled">
                <input type="button" class="sidemenu-button" value="{{subMenu.text}}" ng-click="setContent(subMenu.action)"></input>
            </div>
        </div>
    </div>
    <div class="x-contents">
        <div ng-include="content"></div>
    </div>
</div>
<script src="javascripts/angular-1.4.3.min.js.js"></script>
<script src="javascripts/bootstrap-admin.js"></script>
</body>
</html>
